.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
scripts/**
.gitignore
.yarnrc
bun.lock
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/build.tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.pdb
**/*.ts
**/.vscode-test.*
